h1 {
  margin: 0;
}

p {
  margin: 0;
}
.wrapper {
  max-width: 1200px;
  margin: 48px auto;
  padding: 24px;
  overflow: hidden;
}
.title {
  margin-bottom: 32px;
  max-width: 600px;
  font-size: 48px;
  line-height: 1;
}
.subtitle {
  margin-bottom: 32px;
  color: lightslategray;
  text-align: center;
  max-width: 340px;
}
.paragraph {
  margin-bottom: 32px;
  max-width: 600px;

  text-align: center;
}
.image {
  margin-bottom: 32px;
  max-width: 600px;
  object-fit: cover;
  border-radius: 8px;
}
.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.grid-element {
  max-width: 400px;
  text-decoration: none;
  color: black;
}
.grid-element img {
  width: 352px;
  object-fit: cover;
}

.grid-element:hover {
  color: #1663be;
  transition: color 0.2s;
}

.pagination {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.link:hover {
  color: #1663be;
  transition: color 0.2s;
}

.button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 8px;
  width: 120px;
  text-decoration: none;
  display: block;
  text-align: center;
  height: fit-content;
}

.button:hover {
  background-color: #1663be;
  transition: background-color 0.2s;
}

.input {
  padding: 6px 8px;
  width: 100%;
  box-sizing: border-box;
}
.textarea {
  height: 100px;
  width: 100%;
  padding: 6px 8px;
  resize: none;
  box-sizing: border-box;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon-btn {
  background: none;
  padding: 0;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 8px;
}
.form input {
  margin-bottom: 32px;
}

/* Navbar */

.navbar {
  padding: 18px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-wrapper {
  background-color: #cccccc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.navbar-link:hover {
  color: #1663be;
  transition: color 0.2s;
}

/* Comments */

#comment-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 648px;
  min-width: 648px;
  margin-bottom: 32px;
  padding: 32px;
  background-color: #cccccc;
  border-radius: 8px;
}
.title-row {
  display: flex;
  margin-bottom: 16px;
}

.title-row p {
  margin-right: auto;
}
.title-row button:last-child {
  margin-left: 16px;
}

.comment-form {
  max-width: 600px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 48px auto;
}

.comment-form textarea {
  margin: 16px 0;
}

.comment-avatar {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.comment-info {
  display: flex;
  align-items: center;
}

.avatar-preview {
  border-radius: 6px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 16px;
}
.profile-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 16px;
  margin-right: 32px;
}
